body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1207px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:407px;
  width:1193px;
  height:237px;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:89px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:89px;
  font-size:16px;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:162px;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:89px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:0px;
  width:101px;
  height:89px;
  font-size:16px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:97px;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:89px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:150px;
  height:89px;
  font-size:16px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:146px;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:89px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:0px;
  width:166px;
  height:89px;
  font-size:16px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:162px;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:89px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:0px;
  width:219px;
  height:89px;
  font-size:16px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:215px;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:89px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:0px;
  width:156px;
  height:89px;
  font-size:16px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:152px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:89px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:0px;
  width:130px;
  height:89px;
  font-size:16px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:126px;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:89px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:0px;
  width:105px;
  height:89px;
  font-size:16px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:101px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:48px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:166px;
  height:48px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:162px;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:89px;
  width:101px;
  height:48px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:97px;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:48px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:89px;
  width:150px;
  height:48px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:48px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:89px;
  width:166px;
  height:48px;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:162px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:48px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:89px;
  width:219px;
  height:48px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:215px;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:48px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:89px;
  width:156px;
  height:48px;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:48px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:89px;
  width:130px;
  height:48px;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:48px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:89px;
  width:105px;
  height:48px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:137px;
  width:166px;
  height:50px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:137px;
  width:101px;
  height:50px;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:137px;
  width:150px;
  height:50px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:137px;
  width:166px;
  height:50px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:137px;
  width:219px;
  height:50px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:137px;
  width:156px;
  height:50px;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:137px;
  width:130px;
  height:50px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:50px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:137px;
  width:105px;
  height:50px;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:166px;
  height:50px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:187px;
  width:101px;
  height:50px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:187px;
  width:150px;
  height:50px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:187px;
  width:166px;
  height:50px;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:187px;
  width:219px;
  height:50px;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:50px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:187px;
  width:156px;
  height:50px;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:187px;
  width:130px;
  height:50px;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:50px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:187px;
  width:105px;
  height:50px;
}
#u1302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:366px;
  width:235px;
  height:31px;
}
#u1303_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:372px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:372px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:368px;
  width:235px;
  height:31px;
}
#u1306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:359px;
  width:140px;
  height:40px;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:2px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:324px;
  width:1191px;
  height:1px;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:303px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u1309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:303px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#66FFCC;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:303px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#66FFCC;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:62px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:94px;
  width:1201px;
  height:62px;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:64px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:92px;
  width:199px;
  height:64px;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(153, 153, 153, 0.988235294117647);
  text-align:center;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:114px;
  width:67px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(153, 153, 153, 0.988235294117647);
  text-align:center;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
  text-align:center;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:114px;
  width:249px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
  text-align:center;
}
#u1315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
  text-align:center;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:114px;
  width:67px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
  text-align:center;
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:114px;
  width:1px;
  height:20px;
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:124px;
  width:1px;
  height:1px;
}
#u1318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:114px;
  width:1px;
  height:20px;
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
  text-align:center;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:114px;
  width:114px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
  text-align:center;
}
#u1320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:116px;
  width:73px;
  height:22px;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:114px;
  width:73px;
  height:22px;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:114px;
  width:109px;
  height:22px;
  font-size:18px;
  color:rgba(148, 148, 148, 0.988235294117647);
}
#u1323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:114px;
  width:109px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:116px;
  width:73px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:114px;
  width:80px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:114px;
  width:72px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:114px;
  width:39px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:114px;
  width:37px;
  height:16px;
  font-size:18px;
  color:#FFFFFF;
}
#u1329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1177px;
  height:2px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:228px;
  width:1176px;
  height:1px;
}
#u1330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#66FFCC;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:202px;
  width:1px;
  height:22px;
  font-size:18px;
  color:#66FFCC;
}
#u1331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:202px;
  width:1px;
  height:22px;
  font-size:18px;
}
#u1332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:192px;
  width:114px;
  height:37px;
  font-size:18px;
}
#u1333_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:192px;
  width:162px;
  height:37px;
  font-size:18px;
  color:#FFFFFF;
}
#u1334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
